@model IEnumerable<Mall_Managment_System.Models.Items>

@{
    ViewData["Title"] = "Index";
}

<div class="container  pt-4 px-4  align-content-center">
    <div class="row g-4">

        <div class="col-sm-12 col-xl-6 w-100">
            <div class="bgcolor rounded h-100 p-4">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="mb-4">All Items</h4>

                    </div>
                    <div class="col-md-6 text-sm-end"><button class=" btn btn-outline-danger"> <a asp-controller="Item" asp-action="AddItem">Add-New</a></button></div>
                </div>

                <table class="table table-hover">
                    <thead class="text-white">
        <tr>
                            <th scope="col">
                @Html.DisplayNameFor(model => model.Shop)
            </th>
                            <th scope="col">
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
                            <th scope="col">
                @Html.DisplayNameFor(model => model.Description)
            </th>
                            <th scope="col">
                Image
            </th>
                            <th scope="col">
                @Html.DisplayNameFor(model => model.Price)
            </th>
                            <th scope="col">Action</th>
        </tr>
    </thead>
                    <tbody class="text-white-50">
@foreach (var item in Model) {
        <tr>
                                <td scope="row">
                @Html.DisplayFor(modelItem => item.Shop.Description)
            </td>
                                <td scope="row">
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
                                <td scope="row">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                                <td scope="row">
                    <img src="~/images/@Html.DisplayNameFor(model => model.Image)" style="width:70px; height:70px"/>
            </td>
                                <td scope="row">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
                                <td scope="row">
                                    <a class="btn btn-outline-info me-2" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a class="btn btn-outline-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

            </div>
        </div>
    </div>
</div>