@model IEnumerable<Mall_Managment_System.Models.Contact>

@{
    ViewData["Title"] = "Index";
}

<div class="container  pt-4 px-4  align-content-center">
    <div class="row g-4">

        <div class="col-sm-12 col-xl-6 w-100">
            <div class="bgcolor rounded h-100 p-4">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="mb-4">All Contacts</h4>

                    </div>
                    <div class="col-md-6 text-sm-end"><button class=" btn btn-outline-danger"> <a asp-controller="Contact" asp-action="AddContact">Add-New</a></button></div>
                </div>

                <table class="table table-hover">
                    <thead class="text-white">
        <tr>
                            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
                            <th scope="col">
                @Html.DisplayNameFor(model => model.Email)
            </th>
                            <th scope="col">
                @Html.DisplayNameFor(model => model.Number)
            </th>
                            <th scope="col">
                @Html.DisplayNameFor(model => model.Massage)
            </th>
                            <th scope="col">Action</th>
        </tr>
    </thead>
                    <tbody class="text-white-50">
@foreach (var item in Model) {
        <tr>
                                <td scope="row">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                                <td scope="row">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                                <td scope="row">
                @Html.DisplayFor(modelItem => item.Number)
            </td>
                                <td scope="row">
                @Html.DisplayFor(modelItem => item.Massage)
            </td>
                                <td scope="row">
                                   
                                    <a class="btn btn-outline-info" asp-action="details" asp-route-id="@item.id">Details</a>
                                    <a class="btn btn-outline-primary" asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

            </div>
        </div>
    </div>
</div>