@model Mall_Managment_System.Models.Booking
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    Layout = "/Views/Shared/layouts.cshtml";
    var movie = ViewBag.Movie as Mall_Managment_System.Models.Movies;
   
}

@if (!string.IsNullOrEmpty(ViewBag.success))
{
    
    <div style="margin: 10px; text-align: center;">
        <div class="alert alert-success" role="alert" style="text-align: center;">
            <h3>Thank you for booking this movie.<br />
                This is your ticket number : <span class="text-danger"> @ViewBag.success.</span><br />
                When you come at the next time,
                take your ticket number with you so that you do not face any problem.</h3>
        </div>
    </div>
}
<div class="container">
    <div class="row text-center">
        <div class="col-md-6">
            <form asp-action="Booking" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="col-md-12">
                    @if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
                    {
                        <h5 class="text-warning">Your E-Mail is : @HttpContextAccessor.HttpContext.User.Identity.Name</h5>
                        <input type="hidden" asp-for="User_Email" value=" @HttpContextAccessor.HttpContext.User.Identity.Name" />
                    }
                    else
                    {
                        <h5 class="text-danger">Please create an account first.<br /> Then you can book this movie.</h5>
                    }
                </div>

                <div class="form-group">
                    @if (movie != null)
                    {
                        <h3 class="text-success">Movie Name : @movie.MovieName</h3>
                        <input type="hidden" asp-for="Movie_Name" value="@movie.MovieName" />
                    }
                </div>

                <div class="form-group">
                    <label asp-for="Booking_Date" class="control-label"></label>
                    <input asp-for="Booking_Date" class="form-control" />
                    <span asp-validation-for="Booking_Date" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Booking_sets" class="control-label"></label>
                    <input asp-for="Booking_sets" class="form-control" />
                    <span asp-validation-for="Booking_sets" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Book" class="btn btn-primary" />
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <img class="rounded" src="~/web/images/booking.gif" />
        </div>
    </div>
</div>
