@using Mall_Managment_System.Migrations.ItemDb
@model Mall_Managment_System.Models.Movies 



@{
    Layout = "/Views/Shared/layouts.cshtml";
}

<div class="container">
<div class="row">
<div class="col-md-12">
            <h1 class="mtext-105 cl2 txt-center p-b-30">
                Movie Details</h1>

        
                <div>

                    <a class="btn btn-outline-info mb-2" asp-action="Movies">Back to List</a>
                </div>
               
                <div class="row text-center">

                    
                    <div class="col-md-6">
                        <img src="~/images/@Html.DisplayFor(model => model.Image)" class="w-100"/>

              
                    </div>
                    <div class="col-md-6">
                        <h3>Movie Name  <br /> @Html.DisplayFor(model => model.MovieName)</h3>



                        <p><b>Description :</b><br /> @Html.DisplayFor(model => model.Description)</p>




                        <h5>Totel Sets <span class="badge bg-warning">@Html.DisplayFor(model => model.TotalSeats)</span></h5>




                        <h5>Available Sets <span class="badge bg-success">@Html.DisplayFor(model => model.AvailableSeats)</span></h5>
                    <a class="btn btn-outline-info mb-2" asp-action="Booking" asp-controller="Website" asp-route-id="@Model.Id">Get Book</a>
                    
                    </div>

                    
                   
                </div>
           
    

</div>











</div>

</div>
